#searchBar {
    width: 150px;
    height: 40px;
    margin-top: 10px;
    border: solid 1px black;
}
.movie .serie .year{
    float: right;
}
.movie .serie .name{
    font-weight: bold;
    margin-bottom: 1rem;
}
.movie .serie .description{
    margin-bottom: 2rem;
}
.container {
    max-width: 100%;
}
.movie, .serie{
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    max-width: 170px;
    display: inline-block;
}
.el-img {
    max-height: 200px;
    border: 1px solid black;
}
.el-year {
    clear:both;
}
.detail {
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    min-height: 150px;
}
.detail .back {
    width: 50px;
    height: 50px;
} 
.detail .img {
    float: left;
    border: 1px solid black;
    margin-right: 3em;
    margin-bottom: 2em;
    background-color: white;
    padding: 2em;
    height: 400px;
    width: 270px;
}
.detail ul.specs > li{
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
.form-check, .form-group{
    width: 100%;
    margin-top: 10px;
    margin-left : 0%;
    margin-right : 0%;
}
#logoHome{
    font-size: 40px;
    margin-left: 40px;
}
#boutonRechercher{
    font-size: 20px;
    margin-right: 10px;
    color: black;
}
#logoSignIn, #logoSignOut{
    font-size: 40px;
    margin-left: 10px;
}
#filmsPage, #moviesPage, #seriesPage, #favorisPage, #prochainementPage {
    margin-top: 10px;
    margin-left: 10px;
}
#whichWatcherTextNavbar{
    color: white;
    font-size: 25px;
    font-family: "Courier New", Courier, monospace
}
#homeText{
    font-size: 40px;
    margin-left: 30%;
}
#logo {
    margin-left: 28%;
    margin-top: 2%;
    width :50%;
}
#signInText, #signOutText, #signUpText{
    margin-left: 15px;
    font-size: 40px;
    color:black;
}
#pasInscritText, #textConfirmationDeconnexion{
    margin-left: 15px;
}
#listBoxText{
    text-decoration: underline;
}
#favBouton{
    font-size: 40px;
    margin-top: 5px;
    color:black;
}